* {
    margin: 0;
    padding: 0;
    background-color: rgb(247, 193, 123);
    text-align: center;
    width: auto;

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    grid-template-areas: "nav nav nav nav"                          
                         "sidebar main main main"       
                         "sidebar conteudo1 conteudo2 conteudo3"                        
                         "footer footer footer footer";
    grid-gap: 5em;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(238, 238, 44);
    grid-area: nav;
    border-radius: 0.8em;
}

#nav img{
    margin-left: 60px;
    padding: 10px;
}

#menu a{
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    color: black;
    text-align: center;
}

#menu a:hover{
    background-color: rgb(41, 90, 196);
    color: blanchedalmond;
}
                            
#main{
    grid-area: main;
    padding: 0;
    margin: 1px;
}

#sidebar{
    grid-area: sidebar;
    background-color: rgb(151, 65, 65);
    color: rgb(37, 37, 2);

    padding: 0px;
    margin: 2px;
    text-align: center;
}

#conteudo1{
    display: flex;
    grid-area: conteudo 1;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
}
#conteudo1 a{
    display: flexbox;
    
}

#conteudo2{
    display: flex;
    grid-area: conteudo 2;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
}

}
#conteudo3{
    display: flex;
    grid-area: conteudo 3;
    margin-left: 0px;
    margin-right: 10px;
    padding: 3px;
}

#footer{
    display: flex;
    background-color: black;
    color: rgb(24, 24, 22);
    grid-area: footer;
    padding: 0px;
    margin: 2 10;
}
#footer a{
    display: flex;
}
